/* 一括で全ての要素の余白をゼロに指定 */
* {
  margin: 0;
  padding: 0;
}

/* 全体的なリンク */

a:link,
a:visited,
a:hover,
a:active { text-decoration: underline; }

a:link { color: #00f; }
a:visited { color: #90f; }
a:hover { color: #f00; }
a:active { color: #f00; }

/* -------------------------------------------------------------
   [1] レイアウトに関する指定 */

body {
  font-size: 85%;
  text-align: center;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  padding: 0;
  margin: 0;
}

/* キーワード */
h1 {
  font-size: 100%;
  font-weight: normal;
  margin-bottom: 0.5em;
  padding-left: 240px;
  color: #000;
}

/* 企業名｜ショップ名｜タイトル */
.logo {
  font-size: 160%;
  font-weight: bold;
  margin-bottom: 1em;
  padding-left: 240px;
}

.logo a {
  text-decoration: none;
  color: #000;
}

.logo a:hover {
  text-decoration: none;
  color: #f00;
}

/* ページの概要 */
.description {
  margin-bottom: 20px;
  padding-left: 240px;
  color: #000;
}

/* -------------------------------------------------------------
   [3] コンテンツブロック内に関する指定 */
/* -- 見出し -- */
h2,h3,h4,h5,h6 {
  font-size: 120%;
  margin-bottom: 0.5em;
  padding-left: 30px;
  border-left: 2px solid #000;
  border-bottom: 1px solid #000;
  background: url(img/bg-h.jpg) no-repeat 0 0;
}

h3,h4,h5,h6 { margin-top: 3em; }
